<h1><%= @friend.name %></h1>
<p><%= @friend.location %></p>
<p><%= @friend.interest %></p>
<p>£<%= @friend.price %></p>
<p><%= @friend.bio %></p>
<%= link_to "Book me", new_friend_booking_path(@friend.id) %>
